@* @{
    VievData
}

<div className="Page-home">
        <div id="menu">
          {issearchlocationctive ? (
            <div id="location">
              <div id="icon">
                <ion-icon class="icon-flag" name="flag-outline"></ion-icon>
              </div>
              <input
                id="input-location"
                type="text"
                placeholder="Вкажіть свою адресу"
              />
            </div>
          ) : (
            ""
          )}
        </div>
      
      <div>
        <button onClick={getdate}>get text</button>
        {text && <p>{text}</p>}
      </div>

      <div className="cattegy">
        <Link className="categ_item" to="/Category/Coffe">
          <img src={ico_cat_cofee} alt="cofee" srcset="" />
          <p>Cofee</p>
        </Link>

        <Link to="/Category/Roz_Shop" className="categ_item">
          <img src={ico_cat_cosmetic} alt="cosmetic" srcset="" />
          <p>Cosmetic</p>
        </Link>
        <Link to="/Category/Apteka" className="categ_item">
          <img src={ico_cat_drug} alt="drug" srcset="" />
          <p>Medicament</p>
        </Link>
        <Link to="/Category/Restorants" className="categ_item">
          <img src={ico_cat_foodanddrink} alt="food and drink" srcset="" />
          <p>Ресторани</p>
        </Link>
        <Link to="/Category/Product_shop" className="categ_item">
          <img src={ico_cat_foodanddrink2} alt="alt food and drink" srcset="" />
          <p>Food</p>
        </Link>
        <Link to="/Category/Burgers" className="categ_item">
          <img src={ico_cat_hamburger} alt="burger" srcset="" />
          <p>Burgers</p>
        </Link>
        <Link to="/Category/Alcohols" className="categ_item">
          <img src={ico_cat_wine} alt="wine" srcset="" />
          <p>Alcohol</p>
        </Link>
      </div> *@